$font-stack:    Helvetica, sans-serif;
$primary-color: red;
$secondary-color: #333;


header {
	nav {
		border:solid;
		border-width:1px;
	}
	.navbar-brand {
		border:solid;
		border-width:1px;
		#brand {
			img{

			}
			color:$primary-color;
		}
	}
	ul {
		border:solid;
		border-width:1px;	
	}
	.nav-item {
		border:solid;
		border-width:1px;
		a {
			color:$primary-color;
		}
	}
}

#Title{
	color:$primary-color;
}



footer {
	nav {
		border:solid;
		border-width:1px;
	}
	ul {
		border:solid;
		border-width:1px;
	}
	.nav-item {
		a {
			color:$primary-color;
			border:solid;
			border-width:1px;
		}
	}
}

%bootstrap-content {
	border:solid;
	border-width:1px;

}

.content-post {
  @extend %bootstrap-content;
}

.content-img {
  @extend %bootstrap-content;
}

.content-text-only {
  @extend %bootstrap-content;
}

.content-table {
  @extend %bootstrap-content;
}

.content-text-table {
  @extend %bootstrap-content;
}

.content-img-list {
  @extend %bootstrap-content;
}

.content-img-text {
  @extend %bootstrap-content;
}


