header {
	.navbar-brand {
		#brand {
			img{

			}
			color:red;
		}
	}
	.nav-item {
		a {
			color:red;
		}
	}
}

#Title{
	color:red;
}



footer {
	.nav-item {
		a {
			color:red;
		}
	}
}

%bootstrap-content {
	border:solid;
	border-width:1px;

}

.content-post {
  @extend %bootstrap-content;
}

.content-img {
  @extend %bootstrap-content;
}

.content-text-only {
  @extend %bootstrap-content;
}

.content-table {
  @extend %bootstrap-content;
}

.content-text-table {
  @extend %bootstrap-content;
}

.content-img-list {
  @extend %bootstrap-content;
}

.content-img-text {
  @extend %bootstrap-content;
}


